.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.center-link {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.justify-content-end {
    display: flex;
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}


table {
  border-collapse: collapse;
}

.table-data {
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}

tr.default-height{
  height: 30px;
}
